/* Reset */
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

/* Body background + font */
body {
  font-family: Arial, sans-serif;
  background: #52b6dd;
  padding: 20px;
}

/* Card style */
.card {
  background: rgb(235, 20, 20);
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(97, 7, 241, 0.1);
  margin: 18px auto;
  text-align: center;
}

/* Card Title */
.card h1 {
  font-size: 30px;
  color: #f8f0f0;
  margin-bottom: 20px;
}

/* Card paragraph */
.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

/* Button style */
.btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #0056b3;
}
